"node_modules/" 
"weather-backend/target/" 
"weather-backend/.settings/" 
"weather-backend/.metadata/" 
"weather-backend/.factorypath" 
"weather-backend/.classpath" 
"weather-backend/.project" 
"weather-backend/hs_err_*.log" 
"weather-backend/replay_*.log" 
"weather-frontend/node_modules/" 
"weather-frontend/dist/" 
weather-backend/target/ 
weather-backend/.settings/ 
weather-backend/.metadata/ 
weather-backend/.factorypath 
weather-backend/.classpath 
weather-backend/.project 
weather-backend/hs_err_*.log 
weather-backend/replay_*.log 
weather-frontend/node_modules/ 
weather-frontend/dist/ 
